#app {
  min-width: 1080px;
}

// 顶栏样式
.top-bar {
  height: 72px;
  color: #fff;
  background-color: #324057;
  .logo {
    width: 240px;
    height: 100%;
    text-align: center;
    background-color: #1F2D3D;
    img {
      margin-top: 16px;
    }
  }
}

// 左侧导航栏样式
.nav-menu {
  width: 240px;
  border-radius: 0;
}


// 内容区域样式
.container {
  min-height: 960px;
}
