@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476180127_2466838.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1476180127_2466838.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1476180127_2466838.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1476180127_2466838.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1476180127_2466838.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  display: flex;
  min-width: 1080px;
  background-color: #1A191F;
  color: #dbdbdb;
}

body, html {
  margin: 0;
  padding: 0;
}

// 顶栏样式
.top-bar {
  height: 60px;
  .top-wrapper {
    flex: 1;
    margin-right: 64px;
  }
  .search-area {
    padding: 16px 10px;
    height: 100%;
    max-width: 320px;
    .el-form-item {
      margin: 0;
      border-radius: 16px;
      box-shadow: 0 5px 20px rgba(0,0,0,.3);
      .el-icon-search {
        top: 0;
        right: 0;
        font-size: 20px;
        position: absolute;
        z-index: 1;
        width: 32px;
        line-height: 32px;
        border-radius: 16px;
        text-align: center;
        background-color: #20202A;
      }
    }
    .el-form-item__content {
      line-height: 1;
    }
    .el-input {
      position: relative;
      height: 32px;
      input {
        height: 32px;
        border: none;
        float: right;
        color: #F9FAFC;
        opacity: 1;
        border-radius: 16px;
        background-color: #20202A;
        &::-webkit-input-placeholder {
          color: #C0CCDA;
        }
        &::-moz-placeholder {
          color: #C0CCDA;
        }
        &::-ms-input-placeholder {
          color: #C0CCDA;
        }
      }
    }
  }
  .user-area {
    padding: 16px 10px;
    display: inline-block;
    position: relative;
    &:hover {
      background-color: #20202A;
      .drop-menu {
        display: block;
      }
    }
    .user-avatar {
      height: 32px;
      .avatar-img {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin-right: 10px;
        vertical-align: middle;
        background: center no-repeat;
        background-size: cover;
        background-color: #D8D8D8;
      }
      .el-icon-arrow-down {
        vertical-align: middle;
        font-size: 12px;
        color: #C0CCDA;
      }
    }
  }
  .drop-menu {
    position: absolute;
    right: 0;
    top: 64px;
    display: none;
    width: 140px;
    z-index: 1;
    background-color: #20202A;
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 12px 20px;
      cursor: pointer;
      line-height: 1;
      font-size: 14px;
      &:hover {
        background-color: #2b3035;
      }
    }
    .iconfont {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

// 左侧导航栏样式
#nav-menu {
  width: 240px;
  min-width: 240px;
  height: calc(100%-72px);
  border-radius: 0;
  background-color: #20202A;
  box-shadow: 5px 0 20px rgba(0,0,0,.3);
  .logo {
    width: 240px;
    height: 60px;
    text-align: center;
    background-color: #20202A;
    img {
      margin-top: 12px;
    }
  }
  .nav-link {
    display: block;
  }
  .el-menu {
    background-color: #1A191F;
  }
  .el-menu-item,
  .el-submenu .el-submenu__title {
    height: 44px;
    line-height: 44px;
    color: #dbdbdb;
    &:hover {
      background-color: #2b3035;
    }
  }
  .router-link-active {
    color: #03a9f4;
  }
}

// 内容区域样式
#container {
  height: 100vh;
  flex: 1 auto;
}

// 公共样式
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
[v-cloak] {
  display: none;
}
a {
  text-decoration: none;
  color: #C0CCDA;
}
.router-link-active {
  color: #20a0ff;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  animation: animate-in .6s;
}
.slide-fade-leave-active {
  animation: animate-out .6s;
}
@keyframes animate-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animate-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}
